.letters {
  background-color: rebeccapurple;
  display: inline;
  font-size: 40px;
}

.letter-buttons{
	text-align: center;
}

.chosen-word li {
	width: 50px;
	margin: 0 5px;
	border-bottom: 2px solid #000;
	display: inline-block;
}

/*#chosen-word{
	display: none;
}*/