body{
	background: url('background.png')no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 50px;
	font-family: lobster;
	text-align: center;
}

.letters {
  background-color: rebeccapurple;
  display: inline;
  font-size: 40px;
}

.letter-buttons{
	text-align: center;
}

.chosen-word li {
	width: 50px;
	margin: 0 5px;
	border-bottom: 2px solid #000;
	display: inline-block;
	font-size: 40px;
	font-family: lobster;
}

#chosen-word{
	display: none;
}